@charset "UTF-8";
	/* 서비스센터 버튼 */
	.sc_btn{
		position: fixed;
	}
	
	/* header nav */
	.nav {
	    margin-bottom: 0;
	    border-radius: 0;
    }
    
    /* header에 유저icon */
    .user_icon{
    	height: 45px;
    	width: 50px;
    }
    
    /* 서비스 센터 플젝 소개 bg */
    .intro_bg{
    	background-repeat: no-repeat;
		width: 80%;
		height: 500px;
		background-position: center center;
		background-size: cover;
		opacity: 0.8;
    }
    
    /* search icon 설정 */
    .search_icon{
   		height: 60px;
    	width: 60px;
    	padding: 0;
    }
    
    /* footer */
    footer {
      background-color: #000;
      color: white;
    }
   
   	/* 일정 card리스트 출력 */ 
    .planCardList{
    	width: 200px;
    	height: 400px;
    	margin: 10px 10px 10px 10px;
    }
    
    body{
		background:#f8f8fa;  /* 그냥 화이트 컬러임 뭔차이라고 해논겨? */
	}
	
	/* index page background-image */
	.index_back_img{
		background-repeat: no-repeat;
		width: 100%;
		height: 450px;
		background-position: center center;
		background-size: cover;
	}
	/* serviceCenter background-image */
	.sc_back_img{
		background-repeat: no-repeat;
		width: 100%;
		height: 300px;
		background-position: center center;
		background-size: cover;
	}
	
	.wrap.qa{
		width:640px;
		padding-top:74px;
	}
	
	.wrap {  /* 가운데 정렬??? */
		margin: 0 auto;
		position: inherit;  /* ingerit 상속하다? 어딜 상속해? */
	}
	
	.qa_nav_box{  /* 어스토리 > QnA */
		height:39px;
		width:100%;
		color:#555555;
		font-size:14px;
		line-height:39px;
	}
	
	.qa_nav_box a{  /* 어스토리(뒤로가기?)  */
		font-size:13px;
		color:#49b2e9;
		font-weight:bold;
	}
	
	.qa_nav_box span{  /* 어스토리(QnA 흑백) */
		font-size:12px;
		color:#808080;
	}
	
	.qa_header_box{   /* 검색하는 box */
		width:100%;
		/* background-image:url("../img/QnA.jpg"); */
		background-size:cover;
		background-position:center center;
		padding:20px;
		opacity: 0.9;  /* .qa_desc의 글씨는 투명도 안먹히게 안되나??? */
	}
	
	.qa_title{  /* 궁금하신 점이 있으신가요 */
		font-size:26px;
		color:#f7870f;
		font-weight:Bold;  /* 글씨체? */
		padding-top:25px;
	}
	
	.qa_desc{  /* .qa_header_box(검색있는 box) 안의 글씨 */
		font-size:20px;
		color: #f7870f;
		font-weight:Bold;
		/* opacity: 1; */  /* 글씨는 투명도 안먹히게 안되나??? */
	}
	
	.qa_search{
		background:url(/img/QnA/search_icon.png) no-repeat white;  /* 돋보기 아이콘 */
		background-position:98% center;
		border:none;
		width:100%;
		height:45px;
		line-height:45px;
		border:1px solid #c8c8ca;
		padding-left:20px;
		font-size:18px;
		color:#555555;
	}
	
	mark{
		opacity: 0.7;
		border-radius: 35%;
	}
	
	.qa_header_box.on .search_box{  /* ??? */
		margin-top:17px;
	}
	
	.qa_header_box.on .qa_title{  /* ??? */
		color:white;
		padding-top:13px;
	}
	
	.qa_header_box.on .qa_desc{  /* ??? */
		display:none;
	}
	
	.qa_mnu {  /* 게시판 위에 새로운 질문, 질문하기 box */  /* 이거때문에 질문하기가 내려가 있었음 */
	    float: left;
	    font-size: 14px;
	    color: #555555;
	    font-weight: bold;
	    cursor: pointer;
	}
	
	.qa_mnu_box{  /* 질문하기 */
		border-top:1px solid #3f7ab7;
		border-bottom:1px solid #e3e3e3;
		height:54px;
		line-height:54px;
		box-shadow:1px 1px 3px rgba(0,0,0,0.15);
		background:white;
		margin-top:20px;
		padding-left:20px;
		padding-right:20px;
	}
	
	.qa_mnu.on{  /* 새로운질문(새로고침) */
		color:#3099dd;
	}
	
	.qa_mnu_line{  /* 새로운질문 옆에 작은줄 */
		float:left;
		width:1px;
		background:#cfcfcf;
		height:10px;
		margin-top:22px;
		margin-left:17px;
		margin-right:17px;
	}
	/* 질문하기 버튼 */
    .q_btn{    
		float:right;
		/* color:white;
		padding-left:20px;
		padding-right:20px;
		line-height:30px;
		height:30px;
		font-size:13px;
		text-align:center;
		border:1px solid #f7870f;
		background:#ff9320;
		display:inline-block;
		cursor:pointer; */
		margin-top:9px;
	}  
	.qa_list{
		padding-bottom:10px;
	}
	
	.tag_box {  /* tag 모아놓게 width 100% 주는군  */
    width: 100%;
    padding-top: 15px;
	}
	
	.tag {  /* 태그 */
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid #cccccc;
    background: #f5f5f5;
    border-radius: 3px;
    color: #666666;
    font-size: 12px;
    height: 23px;
    line-height: 23px;
    margin-right: 4px;
	}
	
	.box{  /* qa box */
		display:block;
		width:100%;
		margin-bottom:20px;
		padding:20px;
		box-shadow:1px 1px 3px rgba(150,0,0,0.20);
		background:white;
	}
	
	.user_img{  /* 질문한 회원사진 */
		width:80px;
		height:80px;
		float:left;
		border-radius:50%;
		margin-right:15px;
	}
	
	/* .content_box {  질문 게시판 안에 내용들 box 인데 왜 다 꺠지나??
	    width: 519px;
	    height: 100%;
	    float: left;
	} */
	
	.clear {  /* 이건 뭘까..?? 이걸해야 태그박스와  */
	    clear: both;
	}
	
	.more_btn{  /* 더보기 버튼 */
		width:100%;
		background:white;
		text-align:center;
		height:33px;
		line-height:33px;
		border:1px solid #dbdbdb;
		font-size:14px;
		color:#555555;
		cursor:pointer;
	}
    
    .info_box {  /* 게시판 이름,날짜,댓글수 box */
	    width: 100%;
	    padding-top: 10px;
	}
    
    .user_name {  /* 게시판 유저이름(질문자) */
	    float: left;
	    font-size: 13px;
	    color: #555555;
	    font-weight: bold;
	}
    
    .info_line {  /* 게시판 유저이름 옆의 세로줄 */
	    float: left;
	    width: 1px;
	    background: #cfcfcf;
	    height: 10px;
	    margin-top: 1px;
	    margin-left: 10px;
	    margin-right: 10px;
	}
    
    .write_datetime {  /* 게시판 유저이름 옆의 세로줄 옆의 날짜 (질문작성 날짜) */
	    color: #1a7ad9;
	    font-size: 13px;
	    float: left;
	}
    
    .a_cnt {  /* 댓글수 */
	    float: right;
	    color: #004085;
	    font-size: 17px;
	    padding-left: 29px;
	    background: url(/img/QnA/qa_btn.gif) no-repeat;  /* 댓글 이미지 (반복없음) */
	    background-position: center left;  /* 센터 래프트?? 중앙 왼쪽? */
	    height: 22px;
	    line-height: 22px;
	}
    
    
    .qa_title_text{
    	align-content: center;
    }
    
    modal_footer_tagText{
    	justify-content: center;
    }