<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bitcamp.mapper.planMapper">
	<insert id="insert" parameterType="com.bc.web_project.vo.PlanVo">
		INSERT INTO planInfo (num, users_num, name, planday, theme, isFinish, isOpen)
			VALUES (planInfo_seq.nextval,#{users_num}, #{name},#{planday},#{theme},1,1)
	</insert>
	<!-- <insert id="insert2" parameterType="com.bc.web_project.vo.PlanDetailVo">
		INSERT INTO planDetail (num, plan_num, day, data)
			VALUES (planDetail_seq.nextval, #{plan_num}, #{day}, #{data})
	</insert> -->
	<select id="selectList" resultType="int">
		SELECT * FROM planInfo 
	</select>
	<select id="select" resultType="int">
		SELECT * FROM planDetail
	</select>	
</mapper>