<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bitcamp.mapper.qnaMapper">
	<!-- 전체 질문게시판 list -->
	<select id="QnAselect" resultType="com.bc.web_project.vo.QuestionVO" parameterType="com.bc.web_project.vo.PagingVo">
		select q.*, u.NAME USER_NAME, u.IMAGEADD USER_IMAGEADD from QUESTION q, USERS u where q.USERS_NUM = U.NUM
	</select>
	
	<!-- 게시판 상세보기 -->
	<select id="detail" resultType="com.bc.web_project.vo.QuestionVO">
		select * from QUESTION where NUM=#{NUM}
	</select>
	
	<!-- 게시판의 답변 내용 & 유저네임 -->
	<select id="answerSelect" resultType="com.bc.web_project.vo.AnswerVO">
		select a.*, u.name user_name from answer a, users u where a.num = u.num and a.num=#{num}
	</select>
	
	<insert id="insertQuestion">  <!--  parameterType="com.bc.web_project.vo.QuestionVO" 파라미터가 2개이상 일때만 쓰는건가? -->
		insert into QUESTION (NUM, USERS_NUM, TAG_NAME, TEXT, TITLE, INDATE)
		values (question_seq.nextval, 2, #{tag_name}, #{text}, #{title}, sysdate)
	</insert>
	
	<delete id="deleteQuestion">
		delete from QUESTION where NUM=#{NUM}
	</delete>
	
	<update id="updateQuestion" parameterType="com.bc.web_project.vo.QuestionVO">
		UPDATE QUESTION SET TEXT={TEXT} 
			WHERE num=#{num}
	</update>
	
</mapper>












